* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}

header {
  padding: 44px 120px 0 120px;
}
header .conta {
  display: flex;
  justify-content: space-between;
}
header .conta h3 {
  color: #244D4D;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  margin: 0;
}
header .conta .header__top__links a {
  color: #161616;
  font-size: 16px;
  font-family: DM Sans;
}
header .conta .header__top__links a:not(:nth-child(1)) {
  margin-left: 50px;
}
header .conta .header__top__imgs img {
  width: 24px;
  height: 24px;
}
header .conta .header__top__imgs img:not(:nth-child(1)) {
  margin-left: 30px;
}
header .conta1 {
  display: flex;
  margin-top: 26.85px;
}
header .conta1 .white__chair {
  width: 411px !important;
  height: 560px;
}
header .conta1 .white__chair img {
  width: 100% !important;
  height: 100%;
}
header .conta1 .modern__furniture {
  padding: 101px 18px 0 100px;
  background: #154444;
  width: 789px;
}
header .conta1 .modern__furniture h1 {
  color: #FFF;
  font-size: 56px;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 20px;
}
header .conta1 .modern__furniture h3 {
  color: #FFF;
  font-size: 20px;
  font-family: DM Sans;
  line-height: 25px;
  width: 488px;
  margin-bottom: 35px;
}
header .conta1 .modern__furniture button {
  padding: 15.5px 25.29px;
  border: none;
}
header .conta1 .modern__furniture button a {
  color: #154444;
  font-size: 20px;
  font-family: DM Sans;
  line-height: 25px;
}
header .conta1 .modern__furniture button:focus {
  border: outset 2px white;
  background: #154444;
  transition: 400ms;
}
header .conta1 .modern__furniture button:focus a {
  color: white;
  transition: 400ms;
}
header .container1 {
  margin: 140px 57px 0 57px;
}
header .container1 h2 {
  color: #244D4D;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
header .container1 .payways {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 40px;
}
header .container {
  margin: 0;
  margin-top: 140px;
  display: flex;
}
header .container .sofa {
  margin-right: 100px;
}
header .container .sofa img {
  width: 631.243px;
  height: 612.212px;
}
header .container .about__us {
  width: 436.728px;
}
header .container .about__us h3 {
  color: #244D4D;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 12px;
}
header .container .about__us p {
  color: #444;
  font-size: 20px;
  font-family: DM Sans;
  line-height: 25px;
  width: 436.728px;
  padding-bottom: 24px;
}
header .container .about__us .about__us__bottom {
  display: flex;
  flex-wrap: wrap;
}
header .container .about__us .about__us__bottom img {
  margin-right: 28px;
  width: 50px;
  height: 50px;
}
header .container .about__us .about__us__bottom .box h5 {
  color: #244D4D;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 6px;
}
header .container .about__us .about__us__bottom .box h6 {
  color: #383738;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 26px;
  width: 306.211px;
}
header .container .about__us .about__us__bottom .box:not(:nth-child(3)) {
  margin-bottom: 30px;
}
header .container2 {
  margin: 0;
  margin-top: 140px;
}
header .container2 h2 {
  color: #242424;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 52px;
  padding-bottom: 12px;
}
header .container2 p {
  color: #383738;
  font-size: 20px;
  font-family: DM Sans;
  line-height: 27px;
  width: 819.702px;
  margin-bottom: 80px;
}
header .container2 .slider {
  gap: 30px;
}
header .container2 .slider .slick-dots {
  display: none !important;
}
header .container2 .slider .slick-prev {
  position: absolute;
  top: 0;
  left: 1130px;
  margin-top: -110px;
}
header .container2 .slider .slick-prev::before {
  color: black;
  font-size: 30px;
}
header .container2 .slider .slick-next {
  position: absolute;
  top: 0px;
  right: 10px;
  margin-top: -110px;
}
header .container2 .slider .slick-next::before {
  font-size: 30px;
  color: black;
}
header .container2 .slider .card {
  width: 380px;
  height: 382.314px;
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
}
header .container2 .slider .card .card-body {
  padding: 0;
}
header .container2 .slider .card .card-body img {
  width: 100%;
  height: 100%;
}
header .container2 .slider .card .card-footer {
  background: #FFF;
  display: flex;
  gap: 83px;
  padding: 30.5px 24px 26.69px 24px;
}
header .container2 .slider .card .card-footer .right h5 {
  color: #242424;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 27px;
  width: 170px;
  padding-bottom: 12.75px;
}
header .container2 .slider .card .card-footer .right h6 {
  color: #154444;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 31px;
  margin: 0;
}
header .container2 .slider .card .card-footer .left .left__images {
  display: flex;
  justify-content: end;
  gap: 8px;
}
header .container2 .slider .card .card-footer .left .left__images .box:hover .heart {
  display: none;
}
header .container2 .slider .card .card-footer .left .left__images .box:hover .heart1 {
  display: block;
}
header .container2 .slider .card .card-footer .left .left__images .box1:hover .share {
  display: none;
}
header .container2 .slider .card .card-footer .left .left__images .box1:hover .share1 {
  display: block;
}
header .container2 .slider .card .card-footer .left .left__images .heart1 {
  display: none;
}
header .container2 .slider .card .card-footer .left .left__images .share1 {
  display: none;
}
header .container2 .slider .card .card-footer .left button {
  background: #244D4D;
  padding: 5.5px 14.5px;
  border: none;
  width: 78.854px;
  margin-top: 20px;
}
header .container2 .slider .card .card-footer .left button a {
  color: #FFF;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 500;
  width: 50px;
  line-height: 21px;
}
header .container2 .slider .card .card-footer .left button:hover {
  border: outset #244D4D 2px;
  background: white;
  padding: 4px 7px;
}
header .container2 .slider .card .card-footer .left button:hover a {
  color: #154444;
}
header .container4 {
  margin: 0;
  margin-block: 140px;
}
header .container4 h2 {
  color: #242424;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  padding-bottom: 12px;
  margin-left: -70px;
}
header .container4 .box {
  display: flex;
  justify-content: center;
}
header .container4 .box h3 {
  color: #919090;
  font-size: 24px;
  font-family: DM Sans;
  line-height: 27px;
}
header .container4 .box h3:hover {
  color: #154444;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 27px;
  transition: 400ms;
}
header .container4 .box h3:not(:nth-child(1)) {
  margin-left: 102px;
}
header .container4 .furniture {
  margin-top: 80px;
  display: flex;
  gap: 147.5px;
  justify-content: space-between;
}
header .container4 .furniture .left {
  position: relative;
  display: flex;
}
header .container4 .furniture .left video {
  width: 552.838px;
  height: 389.32px;
  z-index: 5;
  background: white;
}
header .container4 .furniture .left .img1 {
  position: absolute;
  left: -10px;
  top: -10px;
}
header .container4 .furniture .left .img2 {
  position: absolute;
  right: -10px;
  bottom: -10px;
}
header .container4 .furniture .right {
  display: flex;
  width: 474px;
  gap: 30px;
  flex-wrap: wrap;
}
header .container4 .furniture .right .box {
  width: 222px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid #D9DCE5;
}
header .container4 .furniture .right .box:hover {
  background: #154444;
  transition: 900ms;
}
header .container4 .furniture .right .box:hover .img1 {
  display: none;
  transition: 400ms;
}
header .container4 .furniture .right .box:hover .img2 {
  display: block;
  transition: 400ms;
}
header .container4 .furniture .right .box:hover p {
  color: #FFF;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  transition: 400ms;
}
header .container4 .furniture .right .box img {
  width: 24px;
  height: 24px;
  margin-bottom: 10.59px;
}
header .container4 .furniture .right .box .img2 {
  display: none;
}
header .container4 .furniture .right .box p {
  margin: 0;
  color: #808080;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
header .container5 {
  display: flex;
  gap: 100.64px;
}
header .container5 .right h2 {
  width: 535.067px;
  color: #242424;
  font-size: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  margin-top: 105.41px;
}
header .container5 .right p {
  margin-block: 20px;
  width: 535.067px;
  color: #383738;
  font-size: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
header .container5 .right img {
  padding-top: 24.67px;
}
header .container6 {
  margin-block: 140px;
  background: #F4F6F6;
  padding: 68px 297.5px 55.32px 297.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header .container6 h2 {
  color: #222;
  text-align: center;
  font-size: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
header .container6 p {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-block: 20px;
  width: 493px;
}
header .container6 input {
  margin-top: 20px;
  border: none;
  padding-block: 22.5px;
  padding-left: 45.52px;
  padding-right: 246.46px;
}
header .container6 input ::-moz-placeholder {
  color: #BABABA;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
header .container6 input ::placeholder {
  color: #BABABA;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
header .container6 img {
  position: absolute;
  left: 380px;
  bottom: 80px;
}
header .container6 button {
  background: #305F64;
  border: none;
  padding: 15px 32.16px;
  position: absolute;
  right: 380px;
  bottom: 63px;
}
header .container6 button a {
  color: #FFF;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

main .container7 {
  background: #305F64;
}
main .container7 .inside {
  position: relative;
  display: flex;
  padding: 100.27px 120px 40.19px 120px;
}
main .container7 .inside .left__1 h2 {
  color: #FFF;
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
main .container7 .inside .left__1 p {
  color: #FFF;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-block: 24px;
  width: 308px;
}
main .container7 .inside .left__1 h3 {
  color: #FFF;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding-block: 16px;
  margin: 0;
}
main .container7 .inside .left__1 .links {
  margin-top: 4px;
}
main .container7 .inside .left__1 .links a:not(:nth-child(1)) {
  margin-left: 15px;
}
main .container7 .inside .left__2 {
  display: flex;
  flex-direction: column;
  margin-left: 157px;
}
main .container7 .inside .left__2 h2 {
  color: #FFF;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  width: 116px;
}
main .container7 .inside .left__2 a {
  color: #FFF;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}
main .container7 .inside .left__2 a:nth-last-child(4) {
  margin-top: 0;
}
main .container7 .inside .right__1 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 143px;
  margin-right: 108.52px;
}
main .container7 .inside .right__1 h2 {
  color: #FFF;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .container7 .inside .right__1 a {
  color: #FFF;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}
main .container7 .inside .right__2 {
  position: relative;
}
main .container7 .inside .right__2 h2 {
  color: #FFF;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
main .container7 .inside .right__2 p {
  color: #FFF;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  width: 240px;
  padding-block: 23.5px;
  margin: 0;
}
main .container7 .inside .right__2 input {
  margin-top: 16.5px;
  border: none;
  padding-block: 14px;
  padding-left: 22px;
  padding-right: 65px;
}
main .container7 .inside .right__2 input ::-moz-placeholder {
  color: #859395;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .container7 .inside .right__2 input ::placeholder {
  color: #859395;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .container7 .inside .right__2 button {
  position: absolute;
  border: none;
  background: transparent;
  right: 13px;
  bottom: 68px;
}
main .container7 hr {
  height: 1px;
  background: #407980;
  margin: 0;
}
main .container7 .bottom {
  display: flex;
  justify-content: center;
}
main .container7 .bottom h5 {
  color: #FFF;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 20px;
}/*# sourceMappingURL=index.css.map */